@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


ol, ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}



*, table:before, table:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
#precio_compra{
    width: 100%;
  
}
#cantidad{
    width: 100%;
   
}
#precio_venta{
    width: 264%;
    
}
#iva{
    width: 220%;
   
}
*/

#main table{
    width: 700px;
    margin-top: 10px;
    margin-left: 40px;
}
#main .row.uniform{
    width: 700px;
}
.actions input[type="button"]{
    width: 100%;
    
    
    
}
h4 {
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 1em 50em 0em 2em;
    text-transform: uppercase;
    text-align: center;
    width: 700px;
}

.row {
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row.uniform > * > :first-child {
    margin-top: 0;
}

.row.uniform > * > :last-child {
    margin-bottom: 0;
}

.row > * {
    padding: 0 0 0 20em;
}

.row {
    margin: 0 0 -1px -1.5em;
}

.row.uniform > * {
    padding: 1.5em 0 0 1.5em;
}

.row.uniform {
    margin: 1.5em 0 -1px 1.5em;
}


.\34 u, .\34 u\24 { /*PV*/
    width: 50%;
    clear: none;
    margin-left: 0;
    
}



.\38 u, .\38 u\24 { /*PC*/
    width: 50%;
    clear: none;
    margin-left: 0;
    
}


.\36 u, .\36 u\24 { /*DP*/
    width: 30%;
    clear: none;
    margin-left: 0;
}


.\32 u, .\32 u\24 { /*IVA*/
    width: 35%;
    clear: none;
    margin-left: 0;
}



body input[type="button"]{
    text-align: center;
    align-items: center;

}

#header {
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    background: #2e3842;
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#main{
    background: #2e3842;
}

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }

    ul.alt {
        list-style: none;
        padding-left: 0;
    }

        ul.alt li {
            border-top: solid 1px #fff;
            padding: 0.5em 0;
        }

            ul.alt li:first-child {
                border-top: 0;
                padding-top: 0;
            }

            .icon {
                text-decoration: none;
                border-bottom: none;
                position: relative;
            }
        
                .icon:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-transform: none !important;
                }
        
                .icon > .label {
                    display: none;
                }
        
                .icon.major {
                    -moz-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    border-radius: 3px;
                    border: solid 2px #fff;
                    display: inline-block;
                    font-size: 1.35em;
                    height: calc(3em + 2px);
                    line-height: 3em;
                    text-align: center;
                    width: calc(3em + 2px);
                }
        
                    .icon.major:before {
                        -moz-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        display: inline-block;
                        font-size: 1.5em;
                    }
        
                    @media screen and (max-width: 736px) {
        
                        .icon.major {
                            font-size: 1em;
                        }
        
                    }
        
                .icon.style1 {
                    color: #00ffcc;
                }
        
                .icon.style2 {
                    color: #00f0ff;
                }
        
                .icon.style3 {
                    color: #76ddff;
                }

    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.actions li {
            display: inline-block;
            padding: 0 1.5em 0 0;
            vertical-align: middle;
        }

            ul.actions li:last-child {
                padding-right: 0;
            }

        ul.actions.small li {
            padding: 0 0.75em 0 0;
        }

        ul.actions.vertical li {
            display: block;
            padding: 1.5em 0 0 0;
        }

            ul.actions.vertical li:first-child {
                padding-top: 0;
            }

            ul.actions.vertical li > * {
                margin-bottom: 0;
            }

        ul.actions.vertical.small li {
            padding: 0.75em 0 0 0;
        }

            ul.actions.vertical.small li:first-child {
                padding-top: 0;
            }

        ul.actions.fit {
            display: table;
            margin-left: -1.5em;
            padding: 0;
            table-layout: fixed;
            width: calc(100% + 1.5em);
        }

            ul.actions.fit li {
                display: table-cell;
                padding: 0 0 0 1.5em;
            }

                ul.actions.fit li > * {
                    margin-bottom: 0;
                }

            ul.actions.fit.small {
                margin-left: -0.75em;
                width: calc(100% + 0.75em);
            }

                ul.actions.fit.small li {
                    padding: 0 0 0 0.75em;
                }

        @media screen and (max-width: 736px) {

            ul.actions li {
                display: block;
                padding: 1em 0 0 0;
                text-align: center;
                width: 100%;
            }

                ul.actions li:first-child {
                    padding-top: 0;
                }

               

            ul.actions.small li {
                padding: 0.5em 0 0 0;
            }

                ul.actions.small li:first-child {
                    padding-top: 0;
                }

        }

dl {
    margin: 0 0 2em 0;
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

    table tbody tr {
        border: solid 1px #fff;
        border-left: 0;
        border-right: 0;
    }

        table tbody tr:nth-child(2n + 1) {
            background-color: rgba(144, 144, 144, 0.25);
        }

    table td {
        padding: 0.75em 0.75em;
    }

    table th {
        color: #fff;
        font-size: 0.9em;
        font-weight: 600;
        padding: 0 0.75em 0.75em 0.75em;
        text-align: left;
    }

    table thead {
        border-bottom: solid 2px #fff;
    }

    table tfoot {
        border-top: solid 2px #fff;
    }

    table.alt {
        border-collapse: separate;
    }

        table.alt tbody tr td {
            border: solid 1px #fff;
            border-left-width: 0;
            border-top-width: 0;
        }

            table.alt tbody tr td:first-child {
                border-left-width: 1px;
            }

        table.alt tbody tr:first-child td {
            border-top-width: 1px;
        }

        table.alt thead {
            border-bottom: 0;
        }

        table.alt tfoot {
            border-top: 0;
        }


input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    line-height: 3.125em;
    padding: 0 2.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 170%;
}


    input[type="submit"].principal,
    input[type="reset"].principal,
    input[type="button"].principal,
    button.principal,
    .button.principal {
        background-color: #16273d;
        box-shadow: none !important;
        color: #ffffff !important;
        text-align: center;
    }

        input[type="submit"].principal:hover,
        input[type="reset"].principal:hover,
        input[type="button"].principal:hover,
        button.principal:hover,
        .button.principal:hover {
            background-color: #2f496b !important;
        }

      

    @media screen and (max-width: 736px) {

        input[type="submit"],
        input[type="reset"],
        input[type="button"],
        button,
        .button {
            height: 3.75em;
            line-height: 3.75em;
        }

    }

    form {
		margin: 0 0 2em 0;
	}

	label {
		color: #fff;
		display: block;
		font-size: 0.9em;
		font-weight: 600;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.25);
		border-radius: 3px;
		border: none;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:focus,
		select:focus,
		textarea:focus {
			box-shadow: 0 0 0 2px #21b2a6;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			color: #fff;
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

                .wrapper.style4 {
                    background-color: transparent;
                }
        
                .wrapper.style5 {
                    background-color: #ffffff;
                    color: #524848;
                }
        
                    .wrapper.style5 h2, .wrapper.style5 h3, .wrapper.style5 h4, .wrapper.style5 h5, .wrapper.style5 h6 {
                        color: #2E3842;
                    }
        
                  
        
        
                    .wrapper.style5 ul.alt li {
                        border-color: #dfdfdf;
                    }
        
                    .wrapper.style5 table tbody tr {
                        border-color: #dfdfdf;
                    }
        
                        .wrapper.style5 table tbody tr:nth-child(2n + 1) {
                            background-color: rgba(0, 0, 0, 0.038);
                        }
        
                    .wrapper.style5 table th {
                        color: #2E3842;
                        font-size: 17px;
                    }
        
                    .wrapper.style5 table thead {
                        border-color: #dfdfdf;
                    }
        
                    .wrapper.style5 table tfoot {
                        border-color: #dfdfdf;
                    }
        
        
                   
        
        
                    @media screen and (max-width: 736px) {
        
                        .wrapper.style5 .features li {
                            border-top-color: #dfdfdf;
                        }
        
                    }
        
                @media screen and (max-width: 980px) {
        
                    .wrapper {
                        padding: 2em 3em 2em 3em ;
                    }
        
                }
        
                @media screen and (max-width: 736px) {
        
                    .wrapper {
                        padding: 2em 4em 0em 0em ;
                    }
        
                }



                @media screen and (max-width: 480px) {

                    .row > * {
                        padding: 0 0 0 1.5em;
                    }
            
                    .row {
                        margin: 0 0 -1px -1.5em;
                    }
            
                    .row.uniform > * {
                        padding: 1.5em 0 0 1.5em;
                    }
            
                    .row.uniform {
                        margin: -1.5em 0 -1px -1.5em;
                    }
            
                    .row.\32 00\25 > * {
                        padding: 0 0 0 3em;
                    }
            
                    .row.\32 00\25 {
                        margin: 0 0 -1px -3em;
                    }
            
                    .row.uniform.\32 00\25 > * {
                        padding: 3em 0 0 3em;
                    }
            
                    .row.uniform.\32 00\25 {
                        margin: -3em 0 -1px -3em;
                    }
            
                    .row.\31 50\25 > * {
                        padding: 0 0 0 2.25em;
                    }
            
                    .row.\31 50\25 {
                        margin: 0 0 -1px -2.25em;
                    }
            
                    .row.uniform.\31 50\25 > * {
                        padding: 2.25em 0 0 2.25em;
                    }
            
                    .row.uniform.\31 50\25 {
                        margin: -2.25em 0 -1px -2.25em;
                    }
            
                    .row.\35 0\25 > * {
                        padding: 0 0 0 0.75em;
                    }
            
                    .row.\35 0\25 {
                        margin: 0 0 -1px -0.75em;
                    }
            
                    .row.uniform.\35 0\25 > * {
                        padding: 0.75em 0 0 0.75em;
                    }
            
                    .row.uniform.\35 0\25 {
                        margin: -0.75em 0 -1px -0.75em;
                    }
            
                    .row.\32 5\25 > * {
                        padding: 0 0 0 0.375em;
                    }
            
                    .row.\32 5\25 {
                        margin: 0 0 -1px -0.375em;
                    }
            
                    .row.uniform.\32 5\25 > * {
                        padding: 0.375em 0 0 0.375em;
                    }
            
                    .row.uniform.\32 5\25 {
                        margin: -0.375em 0 -1px -0.375em;
                    }
                    #iva{
                        position: relative;
                        max-width: 100%;
                    }
                    #precio_venta{
                        
                            position: relative;
                            max-width: 100%;
                        
                    }
                    .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
                        width: 100%;
                        clear: none;
                        margin-left: 0;
                    }
            
                  
            
                    
                    #main table{
                        width: 700px;
                        margin-top: 10px;
                    }
                    
                    h4{
                        margin-left: -135px;
                    }

                    .actions input[type="button"]{
                        width: 100%;
                        
                        margin-left: 90px;
                        
                    }
                    
                }

 